@{
    ViewBag.Title = "Home Page";
}

@using Syncfusion.JavaScript.DataVisualization
    <div>

        @(Html.EJ().Chart("chartContainer")
            .Series(sr =>
                {
                    sr.DataSource(ViewBag.ChartData)
                    .Type(SeriesType.Column)
                    .XName("Month").YName("Sales")
                    .Add();
                })
            .Theme(Syncfusion.JavaScript.DataVisualization.ChartTheme.GradientLight)
       )
    </div>
